#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: left;
}

h1 {
  color: #B28761;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

p {
  color:#ffffff;
}

.card {
  padding: 2em;
}

.layout {
  display: flex;
  min-height: 100vh;
  background-color: #000;
  color: white;
}

.sidebar {
  width: 220px;
  background-color: #000000;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: fixed;
  left: 0; 
  height: 100vh; 
}

.auth-buttons {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
  z-index: 1000; /* S'assurer qu'ils sont au-dessus du reste */
}

.auth-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column; /* <-- superposition verticale */
  gap: 10px; /* espace entre les boutons */
}

.auth-buttons button {
  background-color:#B28761;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.auth-buttons button:hover {
  background-color: #B28761;
  opacity: 0.7;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-color: #646cff;
}

.modal-content {
  position: relative; /* nécessaire pour positionner .close-button à l’intérieur */
  background: #888;
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 0 10px #646cffaa;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff; /* ou autre couleur selon ton thème */
}

h2 {
  color:#ffffff;
}


input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.main-content {
  flex: 1;
  padding: 2rem;
  padding-left: 240px;
  text-align: center;
}


.read-the-docs {
  color: #888;
}
